* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.clearfix {
    clear: both;
}

.top-nav {
    background-color: #E5E5E5;
}

.container-box-center {
    width: 445px;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    float: left;
}

nav li:last-of-type {
    margin-right: 0;
}

li>a {
    text-decoration: none;
}

.nav-item-top li {
    margin: 17px 30px 16px 0;
}

.nav-item-top a {
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    line-height: 16px;
}