* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

nav, a, p, button {
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3 {
    font-weight: 700;
}

.container-box {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    clear: both;
}

.top-nav {
    background-color: #E5E5E5;
}

.container-top-box-center {
    width: 445px;
}

nav li {
    float: left;
}

nav li:last-of-type {
    margin-right: 0;
}

nav a:hover {
    color: rgba(241, 60, 110, 1);
}

.nav-item-top li {
    margin: 17px 30px 16px 0;
}

.nav-item-top a {
    color: rgba(51, 51, 51, 1);
}

.top-box {
    padding: 20px 0;
    border-bottom: rgba(239, 239, 239, 1) 1px solid;
}

.logo-box {
    float: left;
}

.logo-img {
    float: left;
    margin-right: 20px;
}

.logo-text {
    float: left;
    margin-top: 23px;
    text-transform: uppercase;
    color: rgba(241, 60, 110, 1);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.1em;
}

.phone-button-box {
    float: right;
}

.phone {
    float: left;
    margin: 32px 40px 0 0;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
}

.button {
    float: left;
    margin-top: 19px;
    width: 170px;
    height: 40px;
    background: #ffffff;
    border: 2px solid rgba(241, 60, 110, 1);
    border-radius: 40px;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
    background: rgba(241, 60, 110, 1);
}

.container-bottom-box-center {
    width: 675px;
}

.nav-item-bottom li {
    margin: 30px 40px 30px 0;
}

.nav-item-bottom a {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
}

.image-box {
    height: 604px;
    background-image: url(/images/banner.png);
}

.chair-box {
    float: left;
    color: #ffffff;
    width: 308px;
    margin-top: 192px;
}

.chair-title {
    float: left;
    font-size: 48px;
    margin-bottom: 50px;
}

.chair-text {
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
}

.button-link {
    float: left;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 12px 27px 13px;
}

.chair-box a {
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
}

.chair-box a:hover {
    background: #ffffff;
    color: #F13C6E;
}